<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334427181956-e5n9h9tevnlfhh24c9dnl5e03r9m7tt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334427181956-e5n9h9tevnlfhh24c9dnl5e03r9m7tt6</string>
	<key>API_KEY</key>
	<string>AIzaSyCNUM4cGEQ_HcBOQtpfhpg6ZTjCX7lDEnw</string>
	<key>GCM_SENDER_ID</key>
	<string>334427181956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>check-it-4b99e</string>
	<key>STORAGE_BUCKET</key>
	<string>check-it-4b99e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334427181956:ios:e50293a89095904937c3d1</string>
</dict>
</plist>